<div class="row">
    <div class="col-md-8">
        <h3>Список категорий</h3>

        <div class="row" ng-repeat="catalog in catalogs">
            <div class="col-md-12">
                <h4><a ui-sref="main.catalog({aliasCatalog: catalog.alias})">{{catalog.title}}</a></h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">

        <h3>Корзина</h3>
        <div ng-if="cart.products.length">
            <div class="row" ng-repeat="product in cart.products">
                <div class="col-md-12">
                    <h5>{{product.title}} ({{product.count_product}})</h5>
                </div>
            </div>

            <a class="btn btn-success" ui-sref="main.order">Оформить заказ</a>
        </div>

        <div ng-if="!cart.products.length">
            <p>Корзина пуста</p>
        </div>

    </div>
</div>

