<div class="row">
    <div class="col-md-8">
        <h3>Список товаров</h3>

        <h3>{{catalog.title}}</h3>

        <div ng-bind-html="catalog.description"></div>

        <div>
            <label ng-repeat="(title, alias) in tags">{{title}}: <input type="checkbox" ng-model="filtersCheckbox[alias]" ng-click="changeFilter()"> |&nbsp;</label>
        </div>

        <div>
            <div list-products products="products" pagination-data="pageData" catalog-alias="catalog.alias"
                 state="main.catalog" add-to-cart="addToCart"></div>
        </div>
    </div>

    <div class="col-md-4">

        <h3>Корзина</h3>
        <div ng-if="cart.products.length">
            <div class="row" ng-repeat="product in cart.products">
                <div class="col-md-12">
                    <h5>{{product.title}} ({{product.count_product}})</h5>
                </div>
            </div>

            <a class="btn btn-success" ui-sref="main.order">Оформить заказ</a>
        </div>

        <div ng-if="!cart.products.length">
            <p>Корзина пуста</p>
        </div>

    </div>
</div>

